@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch';
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

.info a {
  color: #999;
  text-decoration: underline;
  text-underline-offset: 2px;
}

nav {
  padding-top: 5rem;
}

header {
  width: 100%;
  /* padding: .5rem 1.5rem; */
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid#000;
}

.header-wrapper a,
.header-wrapper a:active,
.header-wrapper a:focus,
.header-wrapper a:visited {
  color: #000;
}

li {
  list-style-type: none;
}

.asterisk {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  font-family: 'Questrial';
  padding: 0;
  margin: 2rem 0;
}

.header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 1.5rem;
  font-weight: 700;
}

.menu-btn-wrap img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 0.85rem 0;
  margin-right: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #000;
}

.filter-wrap {
  padding-top: 5.5rem;
}

.filter-wrap input {
  display: block;
  margin: 0 auto;
  height: 2.45rem;
  padding: 0 1rem;
  border: 5px solid #000;
  box-shadow: 7.5px 5px #000;
  background-color: transparent;
  outline: none;
  width: 80%;
  font-family: inherit;
}

input::placeholder {
  color: #222;
}

.dropdown {
  margin-top: 0.5rem;
  width: 75%;
  height: 15rem;
  background-color: #000;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem 0 2rem 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  left: 12.5%;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.dropdown a {
  border-bottom: 1px solid #fff;
  padding: 0.65rem 0.5rem;
  line-height: 0.95rem;
  font-size: 0.75rem;
  display: block;
  color: #fff;
  text-transform: capitalize;
}

.sidebar-wrap {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 3.75rem;
  left: 0;
  color: #fff;
  font-family: inherit;
}

.sidebar-wrap div {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.sidebar-wrap div span {
  font-size: 0.85rem;
  display: block;
}

#sidebar nav ul li a {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

.home-wrap {
  margin-top: 2rem;
  /* padding: 0 2rem; */
}

.title {
  padding: 0 2rem;
}

.home-wrap section {
  background-color: #000;
  color: #fff;
}

section {
  /* margin: 2rem; */
  padding: 1rem 2rem;
  /* border: 1px solid #000; */
  /* box-shadow: 7.5px 5px #000; 
  min-height: 30vh; */
}

.eth-logo {
  background-color: #000;
}

.eth-logo img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.eth-logo-c img {
  width: 80%;
}

.eth-logo-d {
  padding-bottom: 2rem;
}

section:nth-of-type(1) {
  background-color: #000;
  border-top: 0.5px solid #fff;
  color: #fff;
  margin-top: 0;
  border-radius: 25px 25px 0 0;
  padding-top: 3rem;
}

section details ul li a {
  color: #fff;
}

details {
  margin-top: 0.25rem;
  cursor: pointer;
}

details[open] > summary {
  font-weight: 700;
}

details li {
  font-size: 0.85rem;
  margin-bottom: 0.45rem;
  text-decoration: underline;
}

details ul {
  background-color: #222;
  border: 1px solid #fff;
  padding: 1rem;
  margin: 0.5rem 0;
}

.detail-wrap {
  background-color: #000;
  padding: 1rem;
  border: 1px solid #fff;
  margin-top: 0.5rem;
}

.detail-wrap ul {
  background-color: #222;
  border: 1px solid #fff;
  box-shadow: none;
  margin: 0.5rem 0;
}

summary {
  outline: none;
}

.nav-options {
  display: none;
}

.contribute-wrap {
  height: 75vh;
  text-align: center;
  font-size: 1.5rem;
  padding: 30% 10% 0;
}

.contribute-wrap a,
.contribute-wrap a:focus,
.contribute-wrap a:active,
.contribute-wrap a:visited {
  color: #00008b;
}

/* media queries go here */
@media screen and (max-width: 800px) and (min-width: 500px) and (orientation: landscape) {
  .eth-logo img {
    width: 10%;
  }

  .eth-logo-c img {
    width: 25%;
  }

  #sidebar nav ul li a {
    font-size: 1rem;
    padding: 0.25rem 0rem;
  }
}

@media screen and (min-width: 650px) {
  .eth-logo img {
    width: 10%;
  }

  .eth-logo-c img {
    width: 25%;
  }

  #sidebar nav ul li a {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }

  .contribute-wrap {
    font-size: 2rem;
    padding: 10% 20% 0;
  }
}

@media screen and (min-width: 1024px) {
  .menu-btn-wrap {
    display: none;
  }

  .nav-options {
    display: flex;
  }

  .nav-options div {
    padding: 1.25rem;
  }

  .nav-options div:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
    transition: all 500ms ease-in-out;
  }

  .title {
    height: 50vh;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    padding: 3rem 12rem 1rem 12rem;
  }

  input {
    height: 3.45rem;
  }

  input::placeholder {
    font-size: 1rem;
  }

  .eth-logo img {
    width: 7%;
  }

  .eth-logo-c img {
    width: 22%;
  }

  section {
    text-align: center;
  }
}
